.js__hero{
    background: $primary-color;
    width: 100%;
    height: 90vh;
    margin-bottom: 30px;
    position: relative;
}

.hero__wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__h1{
    text-align: left;
    margin: 0 50px;
}

.js__cta__hero{
    position: fixed;
    bottom: 30%;
    right: 20%;
    display: inline-block;
    
    transition: all 0.5s ease-out;
    text-decoration: none;
    background-color: $highlight-color;
    color: $primary-color;

    @include mobile{
        right: 50%;
        transform: translateX(50%);
    }

    &:hover,
    &:focus{
        outline: 0;
        background-color: $highlight-color2;
        color: $primary-color;
     }

     
}

.js__cta--scrolled{
    transform: translateX(0%);
    outline: 0;
    width: 60px;
    height: 60px;
    background: url("../assets/images/email.svg"),$highlight-color2;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 100;

    &:hover,
    &:focus{
        outline: 0;
        background-color: $highlight-color;
     }
}
