@import "_config.scss";
@import "_nav.scss";
@import "_hero.scss";
@import "_about.scss";
@import "_work.scss";
@import "_contact.scss";

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Montserrat;
    font-style: normal;
}

main{
    visibility: visible;
}

section{
    padding: 60px 0;
    margin-bottom: 50px;

    @include desktop{
        padding: 100px 0;
    }
}

h1,
h2,
h3 {
    color: $highlight-color;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 4em;
    //opacity: 0.8;
    //text-shadow: 2px 2px 0px $primary-color;
    text-align: center;
    margin-bottom: 30px;

    @include desktop{
        margin-bottom: 60px;
    }

}

p{
    color: $primary-color;
    font-family: Titillium Web;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.8;
    margin: 0;   
}


.wrapper{
    margin: 0 40px;

    @include big-desktop{
        margin: 0 400px;
    }
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }

}

.all__cta{
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 24px;
}

footer{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: $primary-color;
    color: $highlight-color;
}


  
  