.about__container {
  margin: 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  object-fit: cover;
  margin: 20px 0;
}

.about__text {
  display: block;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;

  @include desktop {
    width: 70%;
  }
}

.about__chart__container {
  margin: 20px;
  width: 100%;
}

.about__life__container {
  position: relative;
  width: 100%;
  height: 524px;
  border-radius: 5px;
  overflow: hidden;

  @include tablet {
    display: flex;
    height: 300px;
  }
}

.about__life {
  transition: all 0.4s ease-in;
  width: 100%;
  height: 25%;
  background: $primary-color;
  padding: 10px;
  overflow: hidden;
  border: 1px white solid;

  @include tablet {
    width: 25%;
    height: 100%;
  }
}

.about__life__active {
  height: 70%;
  background: $highlight-color;

  h3 {
    font-size: 30px;
    color: $primary-color;
    &:nth-child(even) {
      transition: all 0s;
      display: none;
    }
  }

  @include tablet {
    width: 70%;
    height: 100%;
  }
}

.about__life__inactive {
  transition: all 0.5s ease-in;
  height: 10%;
  cursor: pointer;
  position: relative;

  h3 {
    position: absolute;
    line-height: 28px;
    font-size: 25px;
    clip-path: inset(0 0 0 0);
    z-index: 1;

    &:nth-child(even) {
      clip-path: inset(0 100% 0 0);
      color: white;
    }

    @include tablet {
      top: 50%;
      left: 50%;
      line-height: 120%;
      font-size: 45px;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  p {
    visibility: hidden;
  }

  &::after {
    transition: all 0.5s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0%;
    background: $gradient;
    z-index: 0;
  }

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    h3 {
      clip-path: inset(0 0 0 100%);
      &:nth-child(even) {
        clip-path: inset(0 0 0 0);
      }
    }

    &::after {
      height: 100%;
    }
  }

  @include tablet {
    width: 10%;
    height: 100%;
  }
}

.about__h3 {
  transition: all 0.5s ease-in;
  font-weight: 800;
  color: $highlight-color;
}

.about__life__text {
  margin-top: 10px;
  color: $primary-color;
}

.about__life__run {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about__path {
  transition: all 0.8s ease-in;
  width: 25%;
  height: 10px;
  position: relative;
  bottom: 0;
  background: $gradient;
  will-change: width;
}

.about__human {
  transition: all 0.8s ease-in;
  pointer-events: none;
  position: relative;
  top: 0;
  left: 20%;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  will-change: left;

  @include tablet {
    height: 70px;
    width: 70px;
  }
}
