.about__container {
  margin: 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  object-fit: cover;
  margin: 20px 0;
}

.about__text {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.skill__container {
  margin: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill__content {
  width: 100%;
  margin-bottom: 15px;
}

.skill__name {
  color: $highlight-color2;
  z-index: 2;
}

.skill__line {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: $highlight-color2;
}

.item__line {
  position: absolute;
  height: 20px;
  background-color: $highlight-color;
}

.item1__line {
  width: 70%;
}

.item2__line {
  width: 60%;
}

.item3__line {
  width: 50%;
}

.item4__line {
  width: 40%;
}

.item5__line {
  width: 30%;
}

.item6__line {
  width: 30%;
}

.about__life {
  width: 100%;
  height: 300px;
  background: $primary-color;
}

.about__icons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    margin-top: 70px;
  }
}

.icon__container {
  margin: 30px;
  text-align: center;
}

.icon__img {
  overflow: hidden;
  width: 50%;

  @include mobile {
    width: 30%;
  }

  @include tablet {
    width: 70%;
  }

  @include desktop {
    width: 60%;
  }
}

.desktop {
  opacity: 0;
}

.icon__h3 {
  margin: 15px 0;
}
