.js__hero {
  background: $primary-color;
  width: 100%;
  height: 90vh;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.hero__wrapper__cta {
  z-index: 99;
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    flex-direction: row;
    gap: 30px;
  }
}

.hero__cta {
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: $highlight-color;
  background: $primary-color;
}

.js__cta__hero {
  bottom: 30%;
  right: 30%;
  transition: all 0.5s ease-out;
  text-decoration: none;
  background-color: $highlight-color;
  color: $primary-color;

  // @include mobile{
  //     right: 50%;
  //     transform: translateX(50%);
  // }
}

.js__cta--scrolled {
  transform: translateX(0%);
  outline: 0;
  width: 60px;
  height: 60px;
  background: url("../../static/images/email.svg"), $primary-color;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 100;

  &:hover,
  &:focus {
    outline: 0;
    background: url("../../static/images/email.svg"), $highlight-color;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.hero__canvas {
  position: absolute;
  top: 0;
  left: 0;
}
