.work__section {
  background: rgba($highlight-color2, 0.8);
}

.work__item {
  width: 100%;
  height: 250px;
  margin: 30px 0;
  background: $highlight-color2;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  &:hover {
    .work__h2,
    .work__text,
    .work__cta {
      transform: translate3d(0, 0, 0);
    }
    .work__item__inner {
      background: rgba($highlight-color2, 0.3);
      backdrop-filter: blur(5px);
    }
  }
}

.work__item1 {
  background-image: url("../../static/images/project1.jpg");
}

.work__item2 {
  background-image: url("../../static/images/project2.jpg");
}

.work__item__inner {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-out;
}

.work__h2,
.work__text {
  transition: all 0.5s ease-out;
  transform: translate3d(-100vw, 0, 0);
}

.work__h2 {
  text-shadow: 1px 1px 0px $primary-color;
}

.work__cta {
  display: inline-block;
  transition: all 0.5s ease-out;
  margin-top: 20px;
  text-decoration: none;
  color: $primary-color;
  background-color: $highlight-color;
  transform: translate3d(200vw, 0, 0);
}
