.work__section {
  background: rgba($highlight-color2, 0.8);
}

.work__item {
  width: 100%;
  height: 250px;
  margin: 30px 0;
  background: $highlight-color2;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  &:hover {
    .work__h2,
    .work__text,
    .work__cta {
      transform: translate3d(0, 0, 0);
    }
    .work__item__inner {
      background: rgba($highlight-color2, 0.3);
      backdrop-filter: blur(5px);
    }
  }
}

.work__item1 {
  background-image: url("../../static/images/project1.jpg");
}

.work__item2 {
  background-image: url("../../static/images/project2.jpg");
}

.work__item__inner {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-out;
}

.work__h2,
.work__text {
  transition: all 0.5s ease-out;
  transform: translate3d(-100vw, 0, 0);
}

.work__h2 {
  text-shadow: 1px 1px 0px $primary-color;
}

.work__cta {
  display: inline-block;
  transition: all 0.5s ease-out;
  margin-top: 20px;
  text-decoration: none;
  color: $primary-color;
  background-color: $highlight-color;
  transform: translate3d(200vw, 0, 0);
  border: 0;
  font-family: inherit;
  height: 40px;
  cursor: pointer;
}

.work__modal__wrapper {
  visibility: visible;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  z-index: 98;
  background: rgba($primary-color, 0.5);
}

.work__modal {
  opacity: 0;
  position: relative;
  width: 0vw;
  height: 0vh;
  background: white;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  overflow: hidden;
}

.work__modal__active {
  width: 80vw;
  height: 80vh;
  opacity: 1;
  @include big-desktop {
    width: 50vw;
  }
}

.work__modal__close {
  position: absolute;
  right: 0;
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;

  &::after,
  &::before {
    position: absolute;
    content: "";
    left: 15px;
    width: 2px;
    height: 25px;
    transition: all 0.3s ease-in;
    background: $primary-color;
  }

  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background: $gradient;
    transform: rotate(90deg);
  }
}

.work__modal__inner {
  position: relative;
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.work__modal__inner::-webkit-scrollbar {
  display: none;
}

.work__modal__slider {
  background: red;
  width: 100%;
  height: 200px;
}

.work__modal__text {
  margin: 0 20px;
}

.work__modal__cta {
  margin: 20px;
}

.work__icons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    margin-top: 70px;
  }
}

.icon__container {
  margin: 30px;
  text-align: center;
}

.icon__img {
  overflow: hidden;
  width: 50%;

  @include mobile {
    width: 30%;
  }

  @include tablet {
    width: 70%;
  }

  @include desktop {
    width: 60%;
  }
}

.desktop {
  opacity: 0;
}

.icon__h3 {
  margin: 15px 0;
}
